-- MySQL dump 10.13  Distrib 8.0.34, for Win64 (x86_64)
--
-- Host: localhost    Database: iice
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_attendance`
--

DROP TABLE IF EXISTS `admin_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_attendance` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `status` varchar(10) NOT NULL,
  `course_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Admin_attendance_course_id_2b4672d2_fk_Admin_sessions_id` (`course_id`),
  KEY `Admin_attendance_student_id_4d8114c8_fk_Admin_student_id` (`student_id`),
  CONSTRAINT `Admin_attendance_course_id_2b4672d2_fk_Admin_sessions_id` FOREIGN KEY (`course_id`) REFERENCES `admin_sessions` (`id`),
  CONSTRAINT `Admin_attendance_student_id_4d8114c8_fk_Admin_student_id` FOREIGN KEY (`student_id`) REFERENCES `admin_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_attendance`
--

LOCK TABLES `admin_attendance` WRITE;
/*!40000 ALTER TABLE `admin_attendance` DISABLE KEYS */;
INSERT INTO `admin_attendance` VALUES (35,'2025-08-15','Absent',4,18),(36,'2025-08-01','Absent',1,22),(37,'2025-08-01','Absent',1,21),(38,'2025-07-31','Absent',1,22),(39,'2025-07-31','Present',1,21),(40,'2025-08-05','Present',1,22),(41,'2025-08-05','Present',1,21);
/*!40000 ALTER TABLE `admin_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_installment`
--

DROP TABLE IF EXISTS `admin_installment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_installment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `installment_number` smallint(5) unsigned NOT NULL CHECK (`installment_number` >= 0),
  `amount` int(11) NOT NULL,
  `due_date` date NOT NULL,
  `paid_date` date DEFAULT NULL,
  `status` varchar(10) NOT NULL,
  `student_fee_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Admin_installment_student_fee_id_6da392d8_fk_Admin_studentfee_id` (`student_fee_id`),
  CONSTRAINT `Admin_installment_student_fee_id_6da392d8_fk_Admin_studentfee_id` FOREIGN KEY (`student_fee_id`) REFERENCES `admin_studentfee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=173 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_installment`
--

LOCK TABLES `admin_installment` WRITE;
/*!40000 ALTER TABLE `admin_installment` DISABLE KEYS */;
INSERT INTO `admin_installment` VALUES (164,1,15666,'2025-08-07','2025-08-15','Paid',15),(165,2,15666,'2025-09-07','2025-08-15','Paid',15),(166,3,15668,'2025-10-07','2025-08-15','Paid',15),(167,1,26000,'2025-11-01','2025-08-15','Paid',14),(168,2,26000,'2025-12-01','2025-08-15','Paid',14);
/*!40000 ALTER TABLE `admin_installment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_lead`
--

DROP TABLE IF EXISTS `admin_lead`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_lead` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `email` varchar(254) DEFAULT NULL,
  `mobile_no` varchar(15) DEFAULT NULL,
  `area_of_residence` varchar(100) DEFAULT NULL,
  `date` date NOT NULL,
  `form_of_inquiry` varchar(20) NOT NULL,
  `session_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `Admin_lead_session_id_e70eb75b_fk_Admin_sessions_id` (`session_id`),
  CONSTRAINT `Admin_lead_session_id_e70eb75b_fk_Admin_sessions_id` FOREIGN KEY (`session_id`) REFERENCES `admin_sessions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_lead`
--

LOCK TABLES `admin_lead` WRITE;
/*!40000 ALTER TABLE `admin_lead` DISABLE KEYS */;
INSERT INTO `admin_lead` VALUES (2,'Afnan Awan','Awanafnan17@gmail.com','03213251232','as','2025-04-26','Physical Visit',1);
/*!40000 ALTER TABLE `admin_lead` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_notification`
--

DROP TABLE IF EXISTS `admin_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_notification` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `category` varchar(10) NOT NULL,
  `content` longtext DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Admin_notification_user_id_2360c6ab_fk_authentication_user_id` (`user_id`),
  CONSTRAINT `Admin_notification_user_id_2360c6ab_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=499 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_notification`
--

LOCK TABLES `admin_notification` WRITE;
/*!40000 ALTER TABLE `admin_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_payments`
--

DROP TABLE IF EXISTS `admin_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_payments` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `amount` int(11) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `studentsession_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Admin_payments_studentsession_id_3228e2a9_fk_Admin_stu` (`studentsession_id`),
  KEY `Admin_payments_user_id_c19e06e8_fk_authentication_user_id` (`user_id`),
  CONSTRAINT `Admin_payments_studentsession_id_3228e2a9_fk_Admin_stu` FOREIGN KEY (`studentsession_id`) REFERENCES `admin_studentsession` (`id`),
  CONSTRAINT `Admin_payments_user_id_c19e06e8_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_payments`
--

LOCK TABLES `admin_payments` WRITE;
/*!40000 ALTER TABLE `admin_payments` DISABLE KEYS */;
INSERT INTO `admin_payments` VALUES (1,150700,'2025-08-15',32,1),(2,52000,'2025-08-15',34,1),(3,47000,'2025-08-15',35,1),(12,150000,'2025-08-16',35,1),(29,30000,'2025-09-16',46,1),(30,30000,'2025-10-16',46,1),(31,30000,'2025-11-15',46,1),(32,30000,'2025-12-15',46,1),(33,0,'2026-01-14',46,1);
/*!40000 ALTER TABLE `admin_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_sessions`
--

DROP TABLE IF EXISTS `admin_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_sessions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `session_name` varchar(50) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `session_photo` varchar(100) DEFAULT NULL,
  `registration_fee` int(11) NOT NULL,
  `fee` int(11) DEFAULT NULL,
  `status` varchar(10) NOT NULL,
  `session_type` varchar(15) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_sessions`
--

LOCK TABLES `admin_sessions` WRITE;
/*!40000 ALTER TABLE `admin_sessions` DISABLE KEYS */;
INSERT INTO `admin_sessions` VALUES (1,'CSSs','2025-04-05','2025-04-10','css.jfif',2000,45000,'Active','time_period'),(4,'Matric','2025-04-27','2025-05-27','',50000,100000,'Active','time_period'),(5,'matrix','2025-08-01','2025-08-22','matrix.jfif',2000,10000,'Inactive','monthly'),(6,'CSS PMS','2025-08-01',NULL,'',200,500,'Active','monthly');
/*!40000 ALTER TABLE `admin_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_student`
--

DROP TABLE IF EXISTS `admin_student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_student` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `rollno` varchar(100) DEFAULT NULL,
  `student_name` varchar(50) DEFAULT NULL,
  `father_name` varchar(50) DEFAULT NULL,
  `email` varchar(254) DEFAULT NULL,
  `cnic` varchar(15) DEFAULT NULL,
  `profile_photo` varchar(100) DEFAULT NULL,
  `cnic_photo` varchar(100) DEFAULT NULL,
  `degree_photo` varchar(100) DEFAULT NULL,
  `status` varchar(10) NOT NULL,
  `mobile_no` varchar(15) DEFAULT NULL,
  `last_degree` varchar(50) DEFAULT NULL,
  `last_institution` varchar(50) DEFAULT NULL,
  `Temp_address` longtext DEFAULT NULL,
  `Perm_address` longtext DEFAULT NULL,
  `inactive_reason` varchar(10) NOT NULL,
  `added_by_id` bigint(20) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `Admin_student_rollno_b4489871_uniq` (`rollno`),
  KEY `Admin_student_added_by_id_954c3c0e_fk_authentication_user_id` (`added_by_id`),
  CONSTRAINT `Admin_student_added_by_id_954c3c0e_fk_authentication_user_id` FOREIGN KEY (`added_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_student`
--

LOCK TABLES `admin_student` WRITE;
/*!40000 ALTER TABLE `admin_student` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_studentfee`
--

DROP TABLE IF EXISTS `admin_studentfee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_studentfee` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `total_fee` int(11) NOT NULL,
  `discount` int(11) NOT NULL,
  `final_fee` int(11) NOT NULL,
  `paid_amount` int(11) NOT NULL,
  `installments_count` smallint(5) unsigned NOT NULL CHECK (`installments_count` >= 0),
  `per_installment_amount` int(11) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Admin_studentfee_student_id_c3a5c670_fk_Admin_student_id` (`student_id`),
  CONSTRAINT `Admin_studentfee_student_id_c3a5c670_fk_Admin_student_id` FOREIGN KEY (`student_id`) REFERENCES `admin_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_studentfee`
--

LOCK TABLES `admin_studentfee` WRITE;
/*!40000 ALTER TABLE `admin_studentfee` DISABLE KEYS */;
INSERT INTO `admin_studentfee` VALUES (12,150000,0,150000,150700,0,NULL,'2025-07-31 18:27:33.614090',18),(14,52000,0,52000,52000,2,98850,'2025-07-31 22:14:23.649925',21),(15,47000,0,47000,47000,3,65666,'2025-07-31 22:15:23.958471',22);
/*!40000 ALTER TABLE `admin_studentfee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_studentsession`
--

DROP TABLE IF EXISTS `admin_studentsession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_studentsession` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `registration_date` date DEFAULT NULL,
  `registration_fee` int(11) DEFAULT NULL,
  `fee_paid` int(11) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `discount` int(11) DEFAULT NULL,
  `status` varchar(10) NOT NULL,
  `notes` longtext DEFAULT NULL,
  `session_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  `next_monthly_due` date DEFAULT NULL,
  `fee` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Admin_studentsession_session_id_6c6e6e1b_fk_Admin_sessions_id` (`session_id`),
  KEY `Admin_studentsession_student_id_3c7f3ee7_fk_Admin_student_id` (`student_id`),
  CONSTRAINT `Admin_studentsession_session_id_6c6e6e1b_fk_Admin_sessions_id` FOREIGN KEY (`session_id`) REFERENCES `admin_sessions` (`id`),
  CONSTRAINT `Admin_studentsession_student_id_3c7f3ee7_fk_Admin_student_id` FOREIGN KEY (`student_id`) REFERENCES `admin_student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_studentsession`
--

LOCK TABLES `admin_studentsession` WRITE;
/*!40000 ALTER TABLE `admin_studentsession` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_studentsession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$600000$F8vVXsm8BZdGEQtxsIpYze$haIhQnnO4Zw0ewEQ9UziqkT8dcEP118fUm36GrPF0mQ=','2025-04-18 18:48:42.798953',1,'huzaifa','','','huzaifa18@gmail.com',1,1,'2025-04-18 18:47:51.485253');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_user`
--

DROP TABLE IF EXISTS `authentication_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(254) NOT NULL,
  `password` varchar(100) NOT NULL,
  `profile_photo` varchar(100) DEFAULT NULL,
  `usertype` smallint(5) unsigned NOT NULL CHECK (`usertype` >= 0),
  `status` varchar(10) NOT NULL,
  `address` longtext DEFAULT NULL,
  `cnic` varchar(15) DEFAULT NULL,
  `joining_date` date DEFAULT NULL,
  `mobile_no` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_user`
--

LOCK TABLES `authentication_user` WRITE;
/*!40000 ALTER TABLE `authentication_user` DISABLE KEYS */;
INSERT INTO `authentication_user` VALUES (1,'huzaifa','imran','huzaifaimran@gmail.com','1234','huzaifa_imran_huzaifaimrangmailcom_KpM1mnd.jfif',1,'Active','Queens chowk\r\nAlif chowk','38403-6137463-9','2025-04-18','03213251232'),(2,'Afnan','Awan','afnan@gmail.com','1234','afnan_awan_afnangmailcom.png',2,'Active','Queens chowks','38403-6137463-9','2025-04-26','03213251232'),(3,'Afnan','Awan','afnanteach@gmail.com','1234','afnan_awan_afnanteachgmailcom.png',3,'Active','Queens chowk','38403-6137463-9','2025-04-26','03213251232');
/*!40000 ALTER TABLE `authentication_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES (1,'2025-04-18 18:49:48.307452','1','huzaifa imran',1,'[{\"added\": {}}]',7,1);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (14,'Admin','attendance'),(16,'Admin','installment'),(8,'Admin','lead'),(1,'admin','logentry'),(13,'Admin','notification'),(12,'Admin','payments'),(9,'Admin','sessions'),(10,'Admin','student'),(15,'Admin','studentfee'),(11,'Admin','studentsession'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(7,'authentication','user'),(5,'contenttypes','contenttype'),(17,'Moderator','installment'),(18,'Moderator','studentfee'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('8uotchi6kpc1mh8hze2f0m2zb0tx0zng','eyJ1c2VyX2lkIjoxLCJ1c2VydHlwZSI6MX0:1uGJ72:qA1tIKyfDzr7Jtcj25VDksmipUG7CZN88deVQvXd3oE','2025-05-31 15:06:08.281564'),('osuc8f4hrm44v30hjiqwpik75u78dnfo','eyJ1c2VyX2lkIjoxLCJ1c2VydHlwZSI6MX0:1u8wvZ:IbPNpEH4hajWNGOinSFWeooZXnnSKdIS09I5Msu0eSU','2025-05-11 07:59:53.895485');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `moderator_installment`
--

DROP TABLE IF EXISTS `moderator_installment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moderator_installment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `installment_number` smallint(5) unsigned NOT NULL CHECK (`installment_number` >= 0),
  `amount` decimal(10,2) NOT NULL,
  `due_date` date NOT NULL,
  `paid_date` date DEFAULT NULL,
  `status` varchar(10) NOT NULL,
  `student_fee_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Moderator_installmen_student_fee_id_6ba7d08a_fk_Moderator` (`student_fee_id`),
  CONSTRAINT `Moderator_installmen_student_fee_id_6ba7d08a_fk_Moderator` FOREIGN KEY (`student_fee_id`) REFERENCES `moderator_studentfee` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moderator_installment`
--

LOCK TABLES `moderator_installment` WRITE;
/*!40000 ALTER TABLE `moderator_installment` DISABLE KEYS */;
/*!40000 ALTER TABLE `moderator_installment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `moderator_studentfee`
--

DROP TABLE IF EXISTS `moderator_studentfee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moderator_studentfee` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `total_fee` decimal(10,2) NOT NULL,
  `discount` decimal(10,2) NOT NULL,
  `final_fee` decimal(10,2) NOT NULL,
  `paid_amount` decimal(10,2) NOT NULL,
  `installments_count` smallint(5) unsigned NOT NULL CHECK (`installments_count` >= 0),
  `per_installment_amount` decimal(10,2) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Moderator_studentfee_student_id_a64a2c8a_fk_Admin_student_id` (`student_id`),
  CONSTRAINT `Moderator_studentfee_student_id_a64a2c8a_fk_Admin_student_id` FOREIGN KEY (`student_id`) REFERENCES `admin_student` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moderator_studentfee`
--

LOCK TABLES `moderator_studentfee` WRITE;
/*!40000 ALTER TABLE `moderator_studentfee` DISABLE KEYS */;
/*!40000 ALTER TABLE `moderator_studentfee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'iice'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-16 17:02:49
