<!doctype html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin Dashboard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/Logos/L1.jpg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/static/assets/vendor/fonts/remixicon/remixicon.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/static/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/static/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'home' %}" class="app-brand-link">
              <span class="app-brand-text demo menu-text fw-semibold ms-2">Iqra Academy</span>
            </a>

            <a href="" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="menu-toggle-icon d-xl-block align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>
            
            <li class="menu-header mt-7">
              <span class="menu-header-text">Main DashBoard</span>
            </li>
            <li class="menu-item">
              <a href="{% url 'Admin_Dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons ri-home-smile-line"></i>
                <div data-i18n="Basic">Dashboard</div>
              </a>
            </li>
          <ul class="menu-inner py-1">
            <!-- User Pages -->
            <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ri-user-fill"></i>
                <div data-i18n="Dashboards">User Info</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
                <ul class="menu-sub open">
                {% if user.usertype != 2 %}
                <li class="menu-item active">
                  <a href="{% url 'Faculty' %}" class="menu-link">
                    <div data-i18n="CRM">Faculty</div>
                  </a>
                </li>
                {% endif %}
                <li class="menu-item">
                  <a href="{% url 'Students' %}" class="menu-link">
                    <div data-i18n="CRM">Students</div>
                  </a>
                </li>
                <li  class="menu-item">
                  <a href="{% url 'ExStudents' %}" class="menu-link">
                    <div data-i18n="CRM">Ex-Students</div>
                  </a>
                </li>
              </ul>
            </li>
              <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ri-book-fill"></i>
                <div data-i18n="Dashboards">Sessions</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
                <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'Sessions' %}" class="menu-link">
                    <div data-i18n="CRM">Current</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'CompletedSessions' %}" class="menu-link">
                    <div data-i18n="CRM">Completed</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="{% url 'Leads' %}" class="menu-link">
                <i class="menu-icon tf-icons ri-group-line"></i>
                <div data-i18n="Dashboards">Leads</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'select_course' %}" class="menu-link">
                <i class="menu-icon tf-icons ri-user-fill"></i>
                <div data-i18n="Dashboards">Attendance</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
            </li>
            {% if user.usertype != 2 %}
            <li class="menu-item">
              <a href="{% url 'payment' %}" class="menu-link">
                <i class="menu-icon tf-icons ri-wallet-2-fill"></i>
                <div data-i18n="Dashboards">Payments</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
            </li>
            {% endif %}
            <li class="menu-item">
              <a href="{% url 'notification' %}" class="menu-link">
                <i class="menu-icon tf-icons ri-mail-fill"></i>
                <div data-i18n="Dashboards">Notifications</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
            </li>
              <li class="menu-item">
              <a href="{% url 'EmailService' %}" class="menu-link">
                <i class="menu-icon tf-icons ri-mail-send-fill"></i>
                <div data-i18n="Dashboards">Email Service</div>
{#                <div class="badge bg-danger rounded-pill ms-auto">5</div>#}
              </a>
            </li>
          </ul>

        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="ri-menu-fill ri-24px"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow p-0"
                    href=""
                    data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <!-- Check if the user has a profile photo, if not, show a default image -->
                        <img src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}/static/assets/img/avatars/1.png{% endif %}" 
                             alt="{{ user.first_name }} {{ user.last_name }}" 
                             class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                    <li>
                      <a class="dropdown-item" href="{% url 'Admin_Profile' %}">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 me-2">
                            <img src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}/static/assets/img/avatars/1.png{% endif %}" 
                             alt="{{ user.first_name }} {{ user.last_name }}" 
                             class="w-px-40 h-auto rounded-circle" />
                          </div>
                          <div class="flex-grow-1">
                            <h6 class="mb-0 small">{{ user.first_name }} {{ user.last_name }}</h6>
                            <small class="text-muted">
                                    Admin
                            </small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <div class="d-grid px-4 pt-2 pb-1">
                        <a class="btn btn-danger d-flex" href="{% url 'logout' %}">
                          <small class="align-middle">Logout</small>
                          <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-md-12">
                  <div class="nav-align-top">
                    <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2 gap-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active"
                          ><i class="ri-group-line me-1_5"></i>Account</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="card mb-6">
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-6">
                        <img
                          src="{% if userdata.profile_photo %}{{ userdata.profile_photo.url }}{% else %}/static/assets/img/avatars/1.png{% endif %}"
                          alt="{{ userdata.first_name }} {{ userdata.last_name }}"
                          class="d-block w-px-100 h-px-100 rounded"
                          id="uploadedAvatar" />
                      </div>
                    </div>
                    <div class="card-body pt-0">
                      <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row mt-1 g-5">
                        
                        <!-- First Name -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input class="form-control" type="text" id="firstName" name="first_name" value="{{ userdata.first_name }}" autofocus />
                            <label for="firstName">First Name</label>
                          </div>
                        </div>
                    
                        <!-- Last Name -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input class="form-control" type="text" name="last_name" id="lastName" value="{{ userdata.last_name }}" />
                            <label for="lastName">Last Name</label>
                          </div>
                        </div>
                    
                        <!-- Email -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input class="form-control" type="email" id="email" name="email" value="{{ userdata.email }}" />
                            <label for="email">E-mail</label>
                          </div>
                        </div>
                        <!-- Email -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input class="form-control" type="text" id="password" name="password" value="{{ userdata.password }}" />
                            <label for="email">Password</label>
                          </div>
                        </div>
                        <!-- CNIC -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input class="form-control" type="text" id="cnic" name="cnic" value="{{ userdata.cnic }}" />
                            <label for="cnic">CNIC</label>
                          </div>
                        </div>
                    
                        <!-- Phone Number -->
                        <div class="col-md-6">
                          <div class="input-group input-group-merge">
                            <div class="form-floating form-floating-outline">
                              <input type="text" id="phoneNumber" name="mobile_no" class="form-control" value="{{ userdata.mobile_no }}" />
                              <label for="phoneNumber">Phone Number</label>
                            </div>
                            <span class="input-group-text">PK (+92)</span>
                          </div>
                        </div>
                    
                        <!-- Address -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input type="text" class="form-control" id="address" name="address" value="{{ userdata.address }}" />
                            <label for="address">Address</label>
                          </div>
                        </div>
                      <!-- Status -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <select class="form-select" id="status" name="status">
                              <option value="Active" {% if userdata.status == "Active" %} selected {% endif %}>Active</option>
                              <option value="Inactive" {% if userdata.status == "Inactive" %} selected {% endif %}>Inactive</option>
                            </select>
                            <label for="status">Status</label>
                          </div>
                        </div>
                    
                        <!-- Joining Date -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input type="date" class="form-control" id="joiningDate" name="joining_date" value="{{ userdata.joining_date|date:'Y-m-d' }}" />
                            <label for="joiningDate">Joining Date</label>
                          </div>
                        </div>

                        <!-- User Type -->
                        <div class="col-md-6">
                          <div class="form-floating form-floating-outline">
                            <select class="form-control" name="usertype" id="usertype">
                              <option value="1" {% if userdata.usertype == 1 %} selected {% endif %}>Admin</option>
                              <option value="2" {% if userdata.usertype == 2 %} selected {% endif %}>Moderator</option>
                              <option value="3" {% if userdata.usertype == 3 %} selected {% endif %}>Teacher</option>
                            </select>
                            <label for="usertype">User Type</label>
                          </div>
                        </div>    
                        <!-- Profile Photo -->
                        <div class="col-md-6">
                          <label for="upload" class="btn btn-sm btn-primary me-3 mb-4">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <input type="file" id="upload" name="profile_photo" class="account-file-input" hidden accept="image/png, image/jpeg" />
                          </label>
                        </div>
                    
                        <!-- Save Button -->
                        <div class="mt-6">
                          <button type="submit" class="btn btn-primary me-3">Save changes</button>
                        </div>
                    
                      </div>
                    </form>


                    </div>
                    <!-- /Account -->
                  </div>
                    <div class="card">
                        <h5 class="card-header">Delete Account</h5>
                        <div class="card-body">
                          <form id="formAccountDeactivation" onsubmit="return false">
                            <a href="{% url 'DeleteFaculty' userdata.id %}" type="submit" class="btn btn-danger deactivate-account">
                              Delete Account
                            </a>
                          </form>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                  <div class="text-body mb-2 mb-md-0">
                    CopyRight © 2024 IQRA ACADEMY
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
          
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    
<!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/assets/vendor/libs/popper/popper.js"></script>
    <script src="/static/assets/vendor/js/bootstrap.js"></script>
    <script src="/static/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/static/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/static/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/static/assets/js/dashboards-analytics.js"></script>
  </body>
</html>
